[submodule "files/.oh-my-zsh"]
	path = files/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "files/.vim/bundle/pathogen"]
	path = files/.vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "files/.vim/bundle/surround"]
	path = files/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "files/.vim/bundle/solarized"]
	path = files/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "files/.vim/bundle/supertab"]
	path = files/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "files/.vim/bundle/endwise"]
	path = files/.vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "files/.vim/bundle/unimpaired"]
	path = files/.vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "files/.vim/bundle/tabular"]
	path = files/.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "files/.vim/bundle/coffee"]
	path = files/.vim/bundle/coffee
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "files/.vim/bundle/ctrlp"]
	path = files/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "files/.vim/bundle/zoomwin"]
	path = files/.vim/bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "files/.vim/bundle/snipmate"]
	path = files/.vim/bundle/snipmate
	url = https://github.com/akitaonrails/snipmate.vim.git
