[submodule "files/.oh-my-zsh"]
	path = files/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "files/.rbenv"]
	path = files/.rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "files/.vim/bundle/surround"]
	path = files/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "files/.vim/bundle/solarized"]
	path = files/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "files/.vim/bundle/supertab"]
	path = files/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "files/.vim/bundle/unimpaired"]
	path = files/.vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "files/.vim/bundle/tabular"]
	path = files/.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "files/.vim/bundle/coffee"]
	path = files/.vim/bundle/coffee
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "files/.vim/bundle/ctrlp"]
	path = files/.vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "files/.vim/bundle/snipmate"]
	path = files/.vim/bundle/snipmate
	url = git://github.com/akitaonrails/snipmate.vim.git
[submodule "files/.vim/bundle/matchit"]
	path = files/.vim/bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "files/.vim/bundle/haml"]
	path = files/.vim/bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "files/.vim/bundle/markdown"]
	path = files/.vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "files/.vim/bundle/ack"]
	path = files/.vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "files/.vim/bundle/alternate"]
	path = files/.vim/bundle/alternate
	url = git://github.com/compactcode/alternate.vim.git
[submodule "files/.vim/bundle/open"]
	path = files/.vim/bundle/open
	url = git://github.com/compactcode/open.vim.git
[submodule "files/.vim/bundle/zencoding"]
	path = files/.vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
