layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  tab name="editor" focus=true {
    pane command="nvim" close_on_exit=false {
      args "+Telescope find_files"
    }
  }
  tab name="shell" {
    pane command="zsh" close_on_exit=false
  }
  tab name="git" {
    pane command="lazygit" close_on_exit=false
  }
}

keybinds {
  normal {
    bind "Alt e" { GoToTab 1; }
    bind "Alt s" { GoToTab 2; }
    bind "Alt g" { GoToTab 3; }
  }
}
