snippet html
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<div id="content">
			${1}
		</div>
	</body>
	</html>

snippet js
	<script src="${1}" type="text/javascript"></script>

snippet css
	<link href="${1}" media="screen, projection" rel="stylesheet" type="text/css" />
